*, ::after, ::before{
    box-sizing: border-box;
    
}


a {
    color: #E7332B;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #eb5850;
}

.container-fluid {
    max-width: 1440px !important;
}

.my-container {
    max-width: 1240px !important;
}


body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container{
    background-image: url("/images/hero-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    width: 1000px;
}

.zuri-logo {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}

.zuri-logo img {
    margin: auto;
}

.hero-section {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hero-section h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
}

.hero-section p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.btns{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.my-btn {
    padding: 11px 28px;
    border: 1px solid #E7332B;
}

.btn-red {
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
}

.btn-red:hover {
    background-color: #fff;
    color: #E7332B;
}

.btn-red-outline {
    background-color: #fff;
    color: #E7332B;
}

.btn-red-outline:hover {
    background-color: #E7332B;
    color: #fff;
}

section .programs{
    background-color: #fff;
    overflow: hidden;
}

.program-content{
    padding-top: 0 !important;
}

.program-content .heading{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}

.program-content .motto{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}

.program-container{
    margin: 0 auto;
    text-align: center;
}

.program-card {
    width: 100%;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
    text-align: justify-all;
}

.program-card-zed {
    position: relative;
    z-index: 1;
}

img.card-bg-svg-1 {
    width: 100%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

img.card-bg-svg-2 {
    width: 90%;
    position: absolute;
    right: -120px;
    top: -75px;
    z-index: -1;
}

.program-card img {
    margin-bottom: 48px;
}

.program-card p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.program-card h3 a {
    font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.9;
}

.row{
    padding-left: 70px;
    padding-right: 70px;
}